In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

filepath = '/Users/edwardgoh/Desktop/DA_projects/Portfolio/Data/supermart_grocery_sales/Supermart Grocery Sales - Retail Analytics Dataset.csv'

In [75]:
# Loading data into sgs(supermart grocery sales) dataframe
sgs = pd.read_csv(filepath)

sgs.head()

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355,0.26,918.45,Tamil Nadu

In [30]:
rename_dict = {'Order ID':'order_id',
               'Customer Name':'customer_name',
               'Category':'category',
               'Sub Category':'sub_category',
               'City':'city',
               'Order Date':'order_date',
               'Region':'region',
               'Sales':'sale_price',
               'Discount':'discount',
               'Profit':'profit',
               'State':'state'
              }

sgs = sgs.rename(columns=rename_dict).copy()

In [31]:
sgs.order_date.dtype

dtype('O')

In [32]:
# Converting order_date to datetime datatype
sgs['order_date'] = pd.to_datetime(sgs['order_date'])

In [36]:
sgs.isna().all()

order_id         False
customer_name    False
category         False
sub_category     False
city             False
order_date       False
region           False
sales            False
discount         False
profit           False
state            False
dtype: bool

1. Determine which items sells the best - gives the best profit
2. Which items sells the worst - is there anything actionable

Ideas for metrics of investigation
1. Over time - is the performance consistent or had a sudden spike
2. By region ?

Hypothesis testing
1. Any difference in sales distribution between regions for certain sales product, chi_square? anova?
2. Does a good/poor performing item perform better in a specific region/city?

In [74]:
# Adding features
sgs

,order_id,customer_name,category,sub_category,city,order_date,region,sales,discount,profit,state
0,OD1,Harish,Oil & Masala,Masalas,Vellore,2017-11-08,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,2017-11-08,South,749,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,2017-06-12,West,2360,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,2016-10-11,South,896,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,2016-10-11,South,2355,0.26,918.45,Tamil Nadu
...,...,...,...,...,...,...,...,...,...,...,...
9989,OD9990,Sudeep,"Eggs, Meat & Fish",Eggs,Madurai,2015-12-24,West,945,0.16,359.10,Tamil Nadu
9990,OD9991,Alan,Bakery,Biscuits,Kanyakumari,2015-07-12,West,1195,0.26,71.70,Tamil Nadu
9991,OD9992,Ravi,Food Grains,Rice,Bodi,2017-06-06,West,1567,0.16,501.44,Tamil Nadu
9992,OD9993,Peer,Oil & Masala,Spices,Pudukottai,2018-10-16,West,1659,0.15,597.24,Tamil Nadu
9993,OD9994,Ganesh,Food Grains,Atta & Flour,Tirunelveli,2018-04-17,West,1034,0.28,165.44,Tamil Nadu

In [56]:
no_of_sales_per_category =  sgs['category'].value_counts().rename('no_of_sales')
sum_sales_profit_per_category = sgs.groupby('category')[['sales','profit']].sum()

In [62]:
summary_by_category = pd.merge(left=no_of_sales_per_category, right=sum_sales_profit_per_category, left_index=True, right_index=True)

In [61]:
summary_by_category['sales_per_transaction'] = summary_by_category['sales']/

                   no_of_sales    sales     profit
Snacks                    1514  2237546  568178.85
Eggs, Meat & Fish         1490  2267401  567357.22
Fruits & Veggies          1418  2100727  530400.38
Bakery                    1413  2112281  528521.06
Beverages                 1400  2085313  525605.76
Food Grains               1398  2115272  529162.64
Oil & Masala              1361  2038442  497895.29